<div class="container bg">

  <div class="container-fluid service_bar">
    <div class="row">
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
    </div>
  </div>

  <div class="container-fluid testone">
    <p>words</p>
  </div>

  <div class="container-fluid testbartwo">
    <div class="row">
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        test
      </div>
    </div>
  </div>

</div>
